{% extends "gestionProductos/layout.html" %}
{% load static %}

{% block body %}

    <div class="col-md-10" style="margin: auto;">
        <br/>
        <br/>
        <h2 id="title-category">Categoria</h2>
        <hr/>
        
        <br/>
        <div id="filter-container" class="col-md-12">
            <div style="display: flex; justify-content: flex-end" class="dropdown">
                <button class="btn btn-light custom-buttom dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-filter"></i> Ordenar
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" id="less-price">Menor Precio</a>
                  <a class="dropdown-item" id="more-price">Mayor Precio</a>
                </div>
              </div>
        </div>
        <br/>
        <div class="col-md-12 shadow p-3 mb-5 bg-light rounded-lg border-info">
            <div class="col-md-12">
                <div id="category-container" class="row">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10" style="margin: auto;">
                <div class="col-md-2" id="loader-container" style="margin-left: auto;margin-right: auto;">
                    
                </div>
                <br/>
                <div class="col-md-2" id="button-container" style="margin-left: auto;margin-right: auto;">
                    
                </div>
            </div>

            
        </div>
        <br/>
    </div>  

{% endblock %}

{% block scripts %}

    <script src="static/gestionProductos/category.js"></script>

{% endblock %}