{% extends "gestionProductos/layout.html" %}
{% load static %}

{% block body %}

    <div class="col-md-10" style="margin: auto;">
        <br/>
        <br/>
        <h2 id="title-category">Categoria</h2>
        <hr/>
        
        <br/>
        <div id="filter-container" class="col-md-12">
            <div style="display: flex; justify-content: flex-end" class="dropdown">
                <button class="btn btn-light custom-buttom dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-filter"></i> Ordenar
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" id="less-price">Menor Precio</a>
                  <a class="dropdown-item" id="more-price">Mayor Precio</a>
                </div>
              </div>
        </div>
        <br/>
        <div class="col-md-12 shadow p-3 mb-5 bg-white rounded-lg border-info">
            <div id="category-container" class="row">

            </div>
            <!-- <div class="col-md-12 containers">
                <div class="row">
                    <div class="col-md-4">
                        <a href="#"><img style="width: 200px;height: 200px;display: block; margin: auto;" src="https://static01.nyt.com/images/2021/04/01/dining/01next1/merlin_185496183_777290b3-7f9e-42b9-acee-0b1c3a1b3d4d-superJumbo.jpg"></a>
                    </div>
                    <div  class="col-md-8">
                        <h3 style="background-color: #e07000;padding-left: 20px; width: 100%;"><a style="color: white;text-decoration: none;" href="#">Pisco</a></h3>
                        <br/>
                        <div class="col-md-12">
                            <h3 style="display: inline;">S/.12</h3>
                                <p style="display:inline;text-decoration: line-through;">$.15</p>
                                <br/>
                                <h4 style="color: #37b859;">5% OFF</h4>
                        </div>
                        
                        
                    </div>
                </div> 
            </div> -->
        </div>
        <div class="row">
            <div class="col-md-10" style="margin: auto;">
                <div class="col-md-2" id="loader-container" style="margin-left: auto;margin-right: auto;">
                    
                </div>
                <br/>
                <div class="col-md-2" id="button-container" style="margin-left: auto;margin-right: auto;">
                    
                </div>
            </div>

            
        </div>
        <br/>
    </div>  

{% endblock %}

{% block scripts %}

    <script src="static/gestionProductos/category.js"></script>

{% endblock %}