{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}BSale Test{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'gestionProductos/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        {% block scripts %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light ">
            <a class="navbar-brand custom-logo" href="#">BSale Test</a>
            <div class="navbar-collapse collapse justify-content-between">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-20">
                      <li class="nav-item active">
                        <a class="nav-link" href=".">Inicio <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Categorías
                        </a>
                        <div id="nav-categories" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </li>
                    </ul>
                    <ul class="navbar-nav mx-auto">
                        <form method="GET" class="form-inline" action="{% url 'search' %}">
                            <input id="search-form" name="s" class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                            <button class="btn btn-light custom-buttom my-2 my-sm-0" type="submit"><i class="fa fa-search"></i> Buscar</button>
                        </form>
                    </ul>
                  </div>
            </div>
          </nav>
          <br/>
          <div class="row">
            {% block body %}
            {% endblock %}
          </div>
          <footer class="container-fluid footer">
            <div class="row">
              <div class="col-lg-12 col-md-12 text-center">Diseñado por <a href="https://github.com/jeanpantoja12/">Jean Pantoja</a> </div>
            </div>
          </footer>
    </body>

</html>